<p-panel header="Add a new model to the database">
  <form #modelForm="ngForm" enctype="multipart/form-data">
    <div class="form-group">
      <label for="markName">Mark Name</label>
      <select class="form-control" #markName="ngModel" [(ngModel)]="modelForm.markName" name="markName" ([formControl])="markNameControl"
        required>
        <option *ngIf="markName.pristine" [ngValue]="undefined" selected></option>
        <option *ngFor="let mark of vehicleMarks" >{{mark?.markName}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="modelName">Model Name</label>
      <input type="text" class="form-control" #modelName="ngModel" name="modelName" [(ngModel)]="modelForm.modelName" required>
    </div>

    <button type="button" pButton (click)="addVehicleModel(modelForm); modelForm.reset();" label="Submit" [disabled]="!modelForm.form.valid" class="ui-button-success" ></button>
  </form>
</p-panel>
<app-message></app-message>