<p-panel header="Vehicle information: Click the field to edit."  >
    <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()" >
        <div class="form-group">
            <label for="markName">Mark Name</label>
            <select class="form-control" formControlName="markName" (change)="onMarkChange(markName.value);">
                <option *ngFor="let mark of vehicleMarks" [value]="mark.markName">{{mark.markName}}</option>
            </select>
        </div>
        <!-- Model Name -->
        <label for="modelName">Model Name</label>
        <select class="form-control" formControlName="modelName">
            <option *ngIf="chosen" [ngValue]="undefined"></option>
            <option *ngFor="let model of selectedVehicleModels" [ngValue]="model">{{model}}</option>
        </select>
        <hr>
        <!-- Year  -->
        <p-inplace closable="closable">
            <span pInplaceDisplay>
                <span class="editFieldText"> Vehicle year </span>
                <span class="editField">
                    {{ vehicles.vehicleYear }}
                    <i class="fa fa-pencil"></i>
                </span>
            </span>
            <span pInplaceContent>
                <input type="number" formControlName="vehicleYear" pInputText>
            </span>
        </p-inplace>
        <hr>
        <!-- Date Repaired  -->
        <p-inplace closable="closable">
            <span pInplaceDisplay>
                <span class="editFieldText">
                    Date of repair </span>
                <span class="editField">
                    {{ vehicles.dateRepaired | date: 'yyyy-MM-dd'}}
                    <i class="fa fa-pencil"></i>
                </span>
            </span>
            <span pInplaceContent>
                <input type="date" formControlName="dateRepaired" pInputText>
            </span>
        </p-inplace>
        <hr>
        <!-- Gearbox Type  -->
        <p-inplace closable="closable">
            <span pInplaceDisplay>
                <span class="editFieldText">
                    Gearbox type </span>
                <span class="editField">
                    {{ vehicles.gearboxType }}
                    <i class="fa fa-pencil"></i>
                </span>
            </span>
            <span pInplaceContent>
                <input type="text" formControlName="gearboxType" pInputText>
            </span>
        </p-inplace>
        <hr>
        <!-- Cubage  -->
        <p-inplace closable="closable">
            <span pInplaceDisplay>
                <span class="editFieldText">
                    Cubage
                </span>
                <span class="editField">
                    {{ vehicles.cubage }}
                    <i class="fa fa-pencil"></i>
                </span>
            </span>
            <span pInplaceContent>
                <input type="number" formControlName="cubage" pInputText>
            </span>
        </p-inplace>
        <hr>
        <!-- Comment  -->
        <label for></label>
        <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize">{{vehicles.vehicleChangesComment}}</textarea>
        <hr>
        <!-- Hex File  -->
        <p-inplace closable="closable">
            <span pInplaceDisplay>
                <span class="editFieldText">
                    Hex file
                </span>
                <span class="editField">
                    <i class="fa fa-pencil"></i>
                </span>
            </span>
            <span pInplaceContent>
                <input type="text" formControlName="hexFile" pInputText>
            </span>
        </p-inplace>
        <hr>
        <div class="center">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <app-message></app-message>
</p-panel>