<app-header></app-header>
<app-sidebar></app-sidebar>
<body>
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <nav>
                <ul class="sidebar-nav">

                    <li>
                      <a [routerLink]="['data']"><i class='fa fa-dashboard'></i> Dashboard</a>
                    </li>
                    <li>
                        <a [routerLink]="['vehicleform']"><i class='fa fa-wpforms'></i> Vehicle Form</a>
                    </li>
                    <li>
                        <a href="http://riw.lt/dokuwiki/doku.php?id=wiki:system"><i class='fa fa-question'></i> Wiki page </a>
                    </li>
                    <hr>

                    <li>
                      <a [routerLink]="['new/mark']"><i class='fa fa-wpforms'></i> New Mark</a>
                    </li>
                    <li>
                      <a [routerLink]="['new/model']"><i class='fa fa-wpforms'></i> New Model</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="menu1">
            <router-outlet></router-outlet>
        </div>
    </div>
</body>