<p-panel header="Vehicle Form">
  <div class="container">
    <form #vehicleForm="ngForm" enctype="multipart/form-data">

      <div class="form-group">
        <label for="email">Mark Name</label>
        <select class="form-control" #markName (change)="onMarkChange(markName.value)" [(ngModel)]="vehicles.markName" name="markName"
          ([formControl])="markNameControl" required>
          <option *ngFor="let mark of vehicleMarks">{{mark?.markName}}</option>
        </select>
      </div>

      <div *ngIf="chosen" class="form-group">
        <label for="email">Model Name</label>
        <select class="form-control" #modelName name="modelName" [(ngModel)]="vehicles.modelName" required>
          <option [ngValue]="undefined" selected></option>
          <option *ngFor="let model of selectedVehicleModels">{{model}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="vehicleYear">Year</label>
        <input type="number" class="form-control" id="vehicleYear" required [(ngModel)]="vehicles.vehicleYear" name="vehicleYear"
          #vehicleYear="ngModel">
        <div [hidden]="vehicleYear.valid || vehicleYear.pristine" class="alert alert-danger">
          Vehicle Year is required
        </div>
      </div>


      <div class="form-group">
        <label for="dateRepaired">Repair date</label>
        <input type="date" class="form-control" id="dateRepaired" required [(ngModel)]="vehicles.dateRepaired" name="dateRepaired"
          #dateRepaired="ngModel">
        <div [hidden]="dateRepaired.valid || dateRepaired.pristine" class="alert alert-danger">
          Repair date is required
        </div>
      </div>

      <div class="form-group">
        <label for="gearboxType">Gearbox Type</label>
        <input type="text" class="form-control" id="gearboxType" required [(ngModel)]="vehicles.gearboxType" name="gearboxType" #gearboxType="ngModel">
        <div [hidden]="gearboxType.valid || gearboxType.pristine" class="alert alert-danger">
          Gearbox type is required
        </div>
      </div>

      <div class="form-group">
        <label for="cubage">Cubage</label>
        <input type="number" class="form-control" id="cubage" required [(ngModel)]="vehicles.cubage" name="cubage" #cubage="ngModel">
        <div [hidden]="cubage.valid || cubage.pristine" class="alert alert-danger">
          Cubage is required
        </div>
      </div>


      <div class="form-group">
        <label for="vehicleChangesComment">Vehicle Repair Comment</label>
        <textarea class="form-control" id="vehicleChangesComment" required [(ngModel)]="vehicles.vehicleChangesComment" name="vehicleChangesComment"
          #vehicleChangesComment="ngModel">
        </textarea>
        <div [hidden]="vehicleChangesComment.valid || vehicleChangesComment.pristine" class="alert alert-danger">
          Vehicle repair comment is required
        </div>
      </div>
      <div class="form-group">
        <label for="hexFile">Hex File</label>
        <input type="file" class="form-control" id="hexFile" (change)="getFiles($event)" name="hexFile">
      </div>

      <button type="submit" class="btn btn-success" (click)="add(vehicleForm); vehicleForm.reset()" [disabled]="!vehicleForm.form.valid">Submit</button>
    </form>
  </div>
</p-panel>
<app-message></app-message>