<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" data-ng-app="index">
<head>
<title>Index page</title>
<style>
 .my-input {
    transition:all linear 0.5s;
    background: transparent;
  }
  .my-input.ng-invalid {
    color:white;
    background: red;
  }
  fieldset {
    display: block;
    width:50%;
    padding-left: 2px;
    padding-right: 2px;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
<script src="js/main.js"></script>

<!--  <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/> -->
</head>
<body data-ng-cloak = "" class="ng-cloak">
<div data-ng-controller="navigation as nav" class="container">
		<ul class="nav nav-pills" role="tablist">
			<li ><a href="vehicleform">Form</a></li>
			<li ><a href="login">login</a></li>
			<li data-ng-show="authenticated"><a href="" data-ng-click="nav.logout()">logout</a></li>
		</ul>
	</div>
	<!-- View appears here -->
	<div data-ng-view = "" ></div>
	<!--  -->
<!-- needs noscript -->
</body>
</html>
