<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" data-ng-app="index">
<head>
<title>Index page</title>
<style>
 .my-input {
    transition:all linear 0.5s;
    background: transparent;
  }
  .my-input.ng-invalid {
    color:white;
    background: red;
  }
</style>


<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/main.js"></script>
<!--  <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/> -->
</head>
<body>

 <form action = "#" th:action="@{/}" th:object="${vehicleForm}" method="post" data-ng-controller="formController">
 <fieldset>
	<legend>Form</legend>
            <table>
                <tr>
                 <td>Markė</td>
                    <td><input type="text" th:field="*{markName}" data-ng-model="formDetails.markName" /></td>
                    <td th:if="${#fields.hasErrors('markName')}" th:errors="*{markName}">Name Error</td>
                 </tr>
                   <tr>
                 <td>Modelis</td>
                    <td><input type="text" th:field="*{modelName}" data-ng-model="formDetails.modelName" /></td>
                    <td th:if="${#fields.hasErrors('modelName')}" th:errors="*{modelName}">Name Error</td>
                 </tr>
                   <tr>
                 <td>Metai</td>
                    <td><input type="text" th:field="*{modelName}" data-ng-model="formDetails.modelName" /></td>
                    <td th:if="${#fields.hasErrors('modelName')}" th:errors="*{modelName}">Name Error</td>
                 </tr>
                   <tr>
                 <td>Model Name</td>
                    <td><input type="text" th:field="*{modelName}" data-ng-model="formDetails.modelName" /></td>
                    <td th:if="${#fields.hasErrors('modelName')}" th:errors="*{modelName}">Name Error</td>
                 </tr>
                   <tr>
                 <td>Model Name</td>
                    <td><input type="text" th:field="*{modelName}" data-ng-model="formDetails.modelName" /></td>
                    <td th:if="${#fields.hasErrors('modelName')}" th:errors="*{modelName}">Name Error</td>
                 </tr>
                   <tr>
                 <td>Model Name</td>
                    <td><input type="text" th:field="*{modelName}" data-ng-model="formDetails.modelName" /></td>
                    <td th:if="${#fields.hasErrors('modelName')}" th:errors="*{modelName}">Name Error</td>
                 </tr>
                <tr>
                    <td><button class="btn btn-large btn-success" data-ng-click="addVehicle()">Submit</button></td>
                </tr>
              
            </table>
            </fieldset>
        </form>
</body>
</html>
